<div id="loginForm" style="width:100%;"  *ngIf="alive">
    <!-- *ngIf="userData" taken out -->
    <div class="form-signin"  >
        <h2>Login</h2>
            <div class="form-group" >
                <label for="username">Username</label>
                <input type="text" class="form-control" name="username" [(ngModel)]="user.username"   />
            
            </div>
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" [(ngModel)]="user.password"   />
        
            <div class="form-group">
                <button (click)="add(user)" class="btn btn-primary">Login</button>
            </div>
        
    </div>
</div>